@import "../../../assets/styles/main.scss";
.pagination {
  display: flex;
  @include tablet {
    margin-bottom: 1.5rem;
  }
  .paginationList {
    display: flex;
    align-items: center;
    button {
      @include filterBtn;
      padding: 0.25rem 0.75rem;
      @include tablet {
        padding: 0.25rem 0.5rem;
      }
      &.disabled {
        cursor: no-drop;
        padding: 0;
        &:focus-visible {
          box-shadow: none;
        }
      }
    }
  }
  .btnPrev,
  .btnNext {
    background: none;
    &:focus-visible {
      @include boxShadowFocus;
    }
  }
  .btnPrev {
    margin-left: 2rem;
    @include tablet {
      margin-left: 1rem;
    }
  }
  .btnNext {
    margin-left: 1.25rem;
    transform: rotate(180deg);
    @include tablet {
      margin-left: 1rem;
    }
  }
}
