@import "../../../assets/styles/main.scss";
.character {
  display: flex;
  @include tabletLg {
    flex-wrap: wrap;
    justify-content: center;
  }
  .photo {
    width: 36.5rem;
    max-height: 36.5rem;
    margin-right: 6.5rem;
    @include tabletLg {
      margin-right: 0;
      margin-bottom: 2rem;
    }
    .img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }
  .description {
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include tabletLg {
      align-items: center;
      text-align: center;
    }
    .status {
      padding: 0.5rem 0.75rem;
      margin-bottom: 2rem;
      background-color: $colorBgStatus;
      @include fontSmallCaps;
      @include tabletLg {
        margin-bottom: 1rem;
      }
    }
    .name {
      margin-bottom: 1rem;
      @include fontBig;
    }
    .date {
      margin-bottom: 1rem;
      span {
        color: $gray;
      }
    }
    .nickname {
      margin-bottom: 2rem;
      span {
        color: $gray;
      }
      @include tabletLg {
        margin-bottom: 1rem;
      }
    }
    .quote {
      width: 100%;
      position: relative;
      span {
        color: $gray;
        span {
          color: $mainFontColor;
        }
      }
    }
  }
}
