@import "../../../assets/styles/main.scss";
.header {
  padding: 1rem 0;
  background-color: $white;
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      width: 5rem;
      height: 3rem;
      &:focus-visible {
        @include boxShadowFocus;
      }
    }
    a:last-child {
      padding: 0.4rem 0.9rem;
      border: 0.1rem solid $colorBgLink;
      border-radius: 0.25rem;
      transition: background-color 0.3s;
      &:hover {
        background-color: $colorBgLink;
      }
      &.active {
        background-color: $colorBgLink;
        &:focus-visible {
          box-shadow: none;
        }
        &:hover {
          cursor: no-drop;
        }
      }
      &:focus-visible {
        @include boxShadowFocus;
        border-color: transparent;
      }
    }
    .catalog {
      display: flex;
      span {
        background: none;
        margin-left: 0.5rem;
      }
    }
  }
}
