@import "../../../assets/styles/main.scss";
.linkBtn {
  position: relative;
  display: inline-block;
  margin-bottom: 3rem;
  padding-left: 2rem;
  @include mainFont;
  @include tabletLg {
    margin-bottom: 1.5rem;
  }
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.125rem;
    width: 1.5rem;
    height: 1.5rem;
    background: url(../../../assets/icons/arrow.svg) no-repeat;
    animation: arrow 0.8s infinite;
  }
  &::after {
    content: "";
    position: absolute;
    width: 0;
    bottom: -0.125rem;
    right: 0;
    height: 1px;
    background-color: $mainFontColor;
    transition: width 0.5s;
  }
  &:hover::after {
    width: calc(100% - 2rem);
  }
  &:focus-visible {
    @include boxShadowFocus;
  }
}
@keyframes arrow {
  0% {
    left: 0;
  }
  50% {
    left: -0.4rem;
  }
  100% {
    left: 0;
  }
}
