@import "./reset";
@import "./vars";
@import "./fonts";
@import "./breakpoint";
@import "./mixins";

html {
  font-size: 16px;
  @include mobile {
    font-size: 14px;
  }
}
body {
  background-color: $bgColor;
  @include mainFont;
}
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.main {
  padding: 1rem 0;
  flex: 1 1 auto;
}
a {
  color: inherit;
}
.container {
  @include container;
}
