@mixin container {
  max-width: 77rem;
  margin: 0 auto;
  padding: 0 2.5rem;
  @include tablet {
    padding: 0 1rem;
  }
}
@mixin boxShadow($x: 0, $y: 0.25rem, $blur: 0.5rem, $color: $blackOpacity) {
  box-shadow: $x $y $blur $color;
}
@mixin boxShadowCard {
  box-shadow: 0 0.25rem 0.5rem $blackOpacity;
}
@mixin boxShadowCardHover {
  box-shadow: 0.5rem 0.5rem 0.5rem $blackOpacity;
}
@mixin boxShadowFocus {
  box-shadow: 0 0 0 0.125rem $colorFocus;
}
@mixin filterBtn {
  margin-right: 0.5rem;
  cursor: pointer;
  border-radius: 0.25rem;
  transition: background 0.3s, box-shadow 0.3s, color 0.3s;
  background: none;
  @include mainFont;
  &:last-child {
    margin-right: 0;
  }
  &.active {
    background: $white;
    color: $colorBgLink;
    @include boxShadowCard;
  }
  &:focus-visible {
    @include boxShadowFocus;
  }
}
